* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  background-color: rgba(34, 35, 36, 0.253);
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  backdrop-filter: blur(19px) saturate(180%);
}